.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (
    (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
  ) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  
  &__content {
    position: relative;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.4s 0.2s;
    @include respond(tab-land) {
      padding: 5rem;
    }
    @include respond(phone) {
      width: 95%;
      padding: 3.5rem;
    }
  }

  &__left {
    width: 33.3333%;
    display: table-cell;

    @include respond(tab-land) {
      width: 100%;
      display: table-row;
    }
  }
  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include respond(tab-land) {
      width: 100%;
      display: table-row;
    }
  }
  &__img {
    display: block;
    width: 100%;
    @include respond(tab-land) {
      width: 50%;
      aspect-ratio: 1.5;
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 2rem;
    }
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-count: 2;
    column-gap: 4rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    @include respond(tab-port) {
      -moz-column-count: 1;
      column-count: 1;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      text-decoration: none;
      font-size: 3rem;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;

      @include respond(tab-land) {
        top: 2rem;
      }
      @include respond(phone) {
        top: 0.5rem;
        right: 1.2rem;
      }
    }

    &:hover {
      color: $color-primary;
    }
  }
}
