@keyframes moveInLeft {
  /* START */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }
  /* END */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  /* START */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }
  /* END */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  /* START */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  /* END */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
